{% extends "base.html" %}

{% block content %}
    <h4>Detect faces</h4>
    <br/>
    <canvas id="imageCanvas"></canvas>
    <br/>
    <input type="file" id="imageLoader" name="imageLoader"/>
    <br/>
    <br/>
    <input id="theButton" type="button" value="Click Me" onclick="detect()">
    <script type="text/javascript">
        var imageLoader = document.getElementById("imageLoader");
        imageLoader.addEventListener("change", handleImage, false);
        var canvas = document.getElementById("imageCanvas");
        var ctx = canvas.getContext("2d");

        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    ctx.drawImage(img, 0, 0);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }
        function detect() {
            image_data = { image: canvas.toDataURL("image/jpeg"), method: "detect" };

            $.ajax({
                type: "POST",
                url: "/activate-function",
                contentType: "application/json",
                data: JSON.stringify(image_data)
            }).done(function (response) {
                var image = new Image();
                image.onload = function() {
                    ctx.drawImage(image, 0, 0);
                };
                image.src = response;
            });
        }
    </script>
{% endblock %}