<html>
  <head>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

  <body>
    <canvas id="imageCanvas"></canvas>
    <br/>
    <input type="file" id="imageLoader" name="imageLoader"/>
    <br/>
    <br/>
    <input type="button" value="Detect shape" onclick="detect()">
    <script type="text/javascript">
        var imageLoader = document.getElementById("imageLoader");
        imageLoader.addEventListener("change", handleImage, false);
        var canvas = document.getElementById("imageCanvas");
        var ctx = canvas.getContext("2d");
        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    ctx.drawImage(img, 0, 0);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }
        function detect() {
            image_data = { image: canvas.toDataURL("image/jpeg"), method: "detect" };
            $.ajax({
                type: "POST",
                url: "/detect-shape",
                contentType: "application/json",
                data: JSON.stringify(image_data)
            }).done(function (response) {
                var edges = response;
                console.log(response);
            });
        }
    </script>
  </body>
</html>
